---
name: Fixed header
icon: header
settings:
- label: My awesome title
  id: title
  type: text
- label: An image
  id: image
  type: image_picker
blocks:
- name: List item
  type: list_item
  settings:
  - label: Item title
    id: title
    type: text
    default: Eius minus animi reprehenderit.
  - label: Item image
    id: image
    type: image_picker
    default: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
presets:
- name: Fixed header
  category: Category
  settings:
    title: Ipsa cumque nesciunt nihil.
    image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
  blocks:
  - type: list_item
    settings:
      title: Voluptatem consequatur temporibus inventore.
      image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
  - type: list_item
    settings:
      title: Quod a eos voluptatibus.
      image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg
  - type: list_item
    settings:
      title: Sed exercitationem dolor ea.
      image: https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg

---
{% comment %}
Above is the YAML definition of your section. Modify it to match your needs.

To use your section, 2 possibilities:

1. within a dropzone

Make sure that your layouts or your page includes the following liquid tag:

{% sections_dropzone %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of any page including the {% sections_dropzone %}
(or inheriting from a layout including it):

sections_dropzone_content:
- type: "fixed_header"
settings:
title: "Dignissimos in quo et."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
blocks: 
- type: list_item
settings:
title: "Dolore illo nulla voluptatem."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Inventore officia natus et."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Quidem consequuntur facilis nesciunt."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"

2. as stand-alone section

{% section 'fixed_header' %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of the page including the statement above or complete it.

sections_content:
fixed_header:
settings:
title: "Saepe sed voluptatem omnis."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
blocks: 
- type: list_item
settings:
title: "Accusantium porro eos odit."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Itaque atque cum quia."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"
- type: list_item
settings:
title: "Soluta expedita architecto commodi."
image: "https://cdn.locomotive.works/sites/63d46f3d59cc9d007db80247/assets/63d80f51b54631009768ceaa/default.svg"

{% endcomment %}<header class=" header header-fixed">
  <a href="collections.liquid">Shop</a>
  <a href="index.liquid">
    <img
      src="/images/logo_white.png"
      alt="Typology logo"
      class="header__logo">
  </a>
  <div class="bag">
    <span class="bag__title">Bag</span>
    <span class="bag__items">0</span>
  </div>
</header>
