<section class="newsl">
  <h4 class="newsl__title">Be part of our club discount</h4>
  <form action="POST" class="newsl__form">
    <input
      type="email"
      placeholder="Your mail"
      class="newsl__input">
    <button type="submit">Subscribe me</button>
  </form>
  <img
    src="{{ 'products/scene_3.PNG' | theme_image_url }}"
    alt
    class="newsl__bg">
</section>